/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.stars span:after,
.noticeboard .textbox span:first-child,
.navigation ul li:hover a[data-new]:after,
.navigation ul li a:hover[data-new]:after,
.themeposttags li a:hover,
.navigation .featuredimg a:hover,
.navigation .themeposttags li a:hover,
.navigation .themeposttitle h3 a:hover,
.navigation .matadata li a:hover,
.navigation .pricebox a:hover,
.pricebox a:hover,
.widgetcontent ul li a:hover,
.btnsimpleprev:hover,
.btnsimplenext:hover,
.widgetdownload .widgetcontent ul li a:hover i,
.widgetdownload .widgetcontent ul li a:hover span,
.widgetdownload .widgetcontent ul li:hover a i,
.widgetdownload .widgetcontent ul li:hover a span,
.campuses ul li a i,
.campuses ul li a span,
.infolist li a,
.infolist li a i,
.infolist li a span,
.widgetcoursecategories .widgetcontent ul li:hover:before,
.breadcrumb li a,
.pricebox a:hover,
.infodata strong a:hover,
.coursestabs .themetabnav li:hover a,
.coursestabs .themetabnav li.active a,
.coursecompunent li span i:first-child,
.courseoutline li span i:first-child,
.scheduleicon,
.result:hover .btndownloadresult,
.result:hover .btndownloadresult em,
.result:hover .btndownloadresult i,
.result:hover .description p,
.btndownloadresult:hover,
.btndownloadresult:hover em,
.btndownloadresult:hover i,
.departmentscollapse .themecollapsecontent ul li:hover .description p,
.departmentscollapse .themecollapsecontent ul li:hover a,
.widgetcontent ul li.active a,
.facultiescollapse > h3:hover > a,
.facultiescollapse > h3.open > a,
.faculty:hover h3 a,
.departmentname h2,
.jobs .themecollapsecontent ul li:hover a,
.jobs .themecollapsecontent ul li:hover p,
.btncommentreply:hover,
.btncommentreply:hover i,
.btncommentreply:hover em,
.comingcountdown .counterbox span:first-child,
.navigation > ul > li.current-menu-item a[data-new]:after{color: #3575d3;}
/*=============================================
			Theme Background Color
=============================================*/
.btn,
.theme-tag,
a[data-new]:after,
.btnsearch,
#magicbox,
.sub-menu li a:before,
.mega-menu-row + .mega-menu-row,
.navigation > ul > li.current-menu-item > a,
.navigation > ul > li:hover > a,
.navigation > ul > li > a:hover,
.mega-menu-col ul li a:before,
.btnsbox .btn:hover,
.widgetadmissionform .widgetcontent,
.signupbox,
.headervtwo .topbar,
.headervtwo .navigation ul li:hover a[data-new]:after,
.headervtwo .navigation ul li a:hover[data-new]:after,
.widgetcontent ul li:hover:before,
.poststyleswitcher li a:hover,
.poststyleswitcher li.active a,
.coursestabs .themetabnav li:before,
.schedule,
.courseinfo .btnsbox .btn,
.relateddocuments li:hover,
.eventcounter,
.widgetcontent ul li:hover:before,
.widgetcontent ul li.active:before,
.optionset li a:before,
.detailpage blockquote:before,
.tag:hover,
.newsandarticle .newspost .btn:hover,
.nav .navbar-toggle{background:#3575d3;}
/*=============================================
			Theme Border Color
=============================================*/
.theme-tag:after,
.theme-tag:before,
input:focus,
.select select:focus,
.form-control:focus,
a[data-new]:before,
.headervtwo .navigation ul li:hover a[data-new]:before,
.headervtwo .navigation ul li a:hover[data-new]:before,
.tag:hover{border-color: #3575d3;}